@import "tailwindcss";

:root {
  --background: #f9fafb; /* gray-50 equivalent */
  --foreground: #171717;
}

/* Deshabilitado el modo oscuro automático para mantener consistencia
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background-color: #f9fafb; /* gray-50 */
  color: #171717;
}
